# Supabase
SUPABASE_API_KEY=
SUPABASE_SECRET=
SUPABASE_ID=
SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Pinata IPFS
PINATA_JWT=

# Google OAuth provider
GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_ID=

# Auth.js / NextAuth
AUTH_URL=
AUTH_SECRET=
AUTH_TRUST_HOST=true
NEXTAUTH_URL=
NEXTAUTH_SECRET=

# Resend email API for order emails
RESEND_API_KEY=
RESEND_FROM_EMAIL=Vicio Perpetuo <pedidos@vicioperpetuo.com>

# Gmail SMTP for application emails
GMAIL_USERNAME=
GMAIL_PASSWORD=
