<head>
   <meta content="Vicio Perpetuo Vicio Perfecto | Editorial" property="og:title">
   <meta content="https://vicioperpetuo.com" property="og:url">
   <meta content="https://vicioperpetuo.fly.dev/assets/social.jpg" property="og:image">
   <meta content="La editorial de libros más vendida en el Perú. Fundada el 15 de enero del 2011, nuestra editorial tiene como objetivo promover a autores peruanos y transmitir nuestra identidad nacional a través de la literatura. Nos enfocamos en temas como costumbres, historia, danzas, cultura culinaria, climas, idiomas, fauna y flora, y todo lo que representa ser peruano y el concepto de Perú." property="og:description">
   <meta content="Vicio Perpetuo Vicio Perfecto | Editorial" property="twitter:title">
   <meta content="https://vicioperpetuo.com" property="twitter:url">
   <meta content="https://vicioperpetuo.fly.dev/assets/social.jpg" property="twitter:image">
   <meta content="La editorial de libros más vendida en el Perú. Fundada el 15 de enero del 2011, nuestra editorial tiene como objetivo promover a autores peruanos y transmitir nuestra identidad nacional a través de la literatura. Nos enfocamos en temas como costumbres, historia, danzas, cultura culinaria, climas, idiomas, fauna y flora, y todo lo que representa ser peruano y el concepto de Perú." property="twitter:content">
   <style>
      .blink {
         height:1em;
         animation: blink 1.5s infinite;
         animation-timing-function: step-start;
      }
      
      @keyframes blink {
         0% {
         opacity: 1;
         }
         25% {
         opacity: 0;
         }
         100% {
         opacity: 1;
         }
      }
   </style>
</head>

<div class="scroll-tracker"></div>
<%= link_to image_tag("logo.svg"), vicioperfecto_path, class:"logo fade-up hover" %>  
<%= link_to image_tag("shop-cart.svg"), "/vicioperfecto#books", class:"fade-up cart no-mobile hover", loading:"lazy", style:"background-color:#fff !important" %>

<nav class="no-mobile fade-up">
    <a href="info">NOSOTROS</a>
    <a href="info#servicios">SERVICIOS</a>
    <a href="autores">AUTORES</a>
</nav>

<div style="display:block;width:50%;margin:0% 25% 0%" class="fade-up">
   <div id="w-node-b47ebb11-7601-96b1-9921-3a734f5edaa5-3cd0e9e1" class="right-menu-container menu-item-hidden"><a href="#" class="menu-element-top-right">IT/EN</a>
   </div>
   <div class="about-title-container">
      <div class="w-dyn-list">
         <div role="list" class="w-dyn-items">
            <div role="listitem" class="w-dyn-item">
               <div class="exhibition-title"><span>La editorial de libros más vendida en el Perú <img src="assets/peru.svg" class="blink"></span>
               </div>
            </div>
         </div>
      </div>
   </div>
   <h2 style="padding:18px">
      <p><em>dirigida por</em> Julio Benavides Parra</p>
   </h2>
   <div class="exhibition-subtitle-container">
      <div class="w-dyn-list">
         <div role="list" class="w-dyn-items">
            <div role="listitem" class="w-dyn-item">
               <div class="rich-text-block-5 w-richtext">
                  <p>Fundada el 15 de enero del 2011, nuestra editorial tiene como objetivo promover a autores peruanos y transmitir nuestra identidad nacional a través de la literatura. Nos enfocamos en temas como costumbres, historia, danzas, cultura culinaria, climas, idiomas, fauna y flora, y todo lo que representa ser peruano y el concepto de Perú.</p>
                  <br>
                  <p>Nos apasiona dar a conocer las historias únicas y diversas de nuestros autores peruanos, desde la ficción hasta la no ficción, pasando por la poesía y la literatura infantil. Nos esforzamos por brindar una plataforma para que las voces de nuestros autores sean escuchadas a nivel nacional e internacional.</p>
                  <br> 
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="w-layout-grid about-page-container">
      <div id="w-node-_44454927-af7f-40b7-981b-115f45d024d8-b59d5c84" class="right-column-img--credit">
         <div class="div-block-43-copy">
            <div class="about-text w-dyn-list">
               <div role="list" class="w-dyn-items">
                  <div role="listitem" class="w-dyn-item">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div id="w-node-_7315e5f7-3cc6-6ced-3258-ecc5898f876c-b59d5c84"  style="width:50vw;">
         <div class="div-block-43-copy">
            <div class="credit-text w-dyn-list">
               <div role="list" class="w-dyn-items">
                  <div role="listitem" class="w-dyn-item">
                     <div class="w-richtext">
                        <p><img src="./events/15012023/01.JPG" alt="Julio Benavides Parra presentando libro 'Ácleman'" style="margin:0px;"></p>
                        
                        <span>▲ 12 aniversario de la Editorial celebrado en el Bar Mal de Amores, Barranco. 2023.</span>
                        <p><img src="./events/15012023/02.JPG" alt="Jóvenes autores en evento de Vicio Perpetuo Vicio Perfecto"></p>
                        <span>▲ Juan Romero (izq.) y Walter Velásquez (der.) exponiendo el contenido de sus libros.</span>
                        <p><img src="./events/15012023/03.JPG" alt="Héctor Ñaupari sosteniendo su publicación 'En la boca de la sombra'">
                        <span>▲ Héctor Ñaupari presentando su libro "La boca de la sombra".</span></p>
                        <div class="rich-text-block-5 w-richtext" id="servicios">
                           <p></p>
                           <h1 style="background:#df0000;color:#fff;padding-top:91px;">Servicios
                           </h1>
                           <p></p>
                        </div>
                        <h2>Corrección y estilo</h2>
                        <p>La corrección y el estilo son servicios clave para cualquier escrito. Ofrecemos una revisión exhaustiva de errores ortográficos, gramaticales, léxicos y estilísticos, manteniendo la claridad intelectual del material. Estos servicios garantizan que los lectores reciban un contenido de alta calidad y coherente, cumpliendo con los requisitos académicos o profesionales. Mejoran su trabajo agregando fluidez a la expresión, diversidad de puntuación e incorporando respuestas claras a preguntas críticas. Además, optimizamos el resultado del documento evaluando el tono y redirigiendo información según sea necesario.</p>
                        <p></p>
                        <h2>Diagramación</h2>
                        <p>La diagramación es un servicio que se encarga de organizar la disposición de texto e imágenes en un producto impreso. Incluye el diseño de elementos gráficos, la selección de la fuente adecuada, la definición de un sistema de márgenes y la alineación visual para lograr una narrativa visual atractiva para los lectores. Para lograr un aspecto profesional y fácil comprensión, es esencial seguir principios básicos como la jerarquía de contenidos, el equilibrio y el contraste. Nuestro objetivo es crear un producto técnicamente completo y perfecto dentro del espacio disponible, donde todos los elementos trabajan juntos para comunicar adecuadamente el mensaje propuesto.</p>
                        <p></p>
                        <h2>Talleres literarios</h2>
                        <p>Los autores pueden mejorar sus habilidades con clases guiadas por nuestros expertos. Estas clases están diseñadas para diferentes grupos y niveles, desde principiantes hasta profesionales, adaptándose al talento y motivación de cada alumno. Los temas incluirían diversos géneros y tipos de escritura, como novelas, poesía, guiones, contenido para medios digitales, y mucho más.</p>
                        <p></p>
                        <h2>Edición e impresión</h2>
                        <p>Aseguramos la calidad de los textos antes de su publicación. Esto incluye correcciones ortográficas y gramaticales, verificación de precisión del contenido, trabajo con el autor para hacer el material atractivo e inteligible, y ayudar a encontrar el tono adecuado. También es importante revisar la presentación del manuscrito para asegurarse de que cumpla con las expectativas.</p>
                        <p></p>
                        <h2>Diseño de portada</h2>
                        <p>El servicio de diseño de portada en una editorial consiste en crear la mejor imagen posible para libros y otros productos impresos con la ayuda de expertos. Incluye la identificación del público objetivo, la selección de imágenes, la elección de color, tipografía y composición visual, con el objetivo de atraer a un lector potencial. El diseñador colabora con el autor o editor para garantizar que todos los elementos creativos representen la obra adecuadamente.</p>
                        <p></p>
                        <h2>Posicionamiento y venta de libros</h2>
                        <p>Nos encargamos de implementar estrategias publicitarias para mejorar la visibilidad del libro. Incluye técnicas creativas para su promoción, uso de medios digitales para llegar a un público amplio, creación de contenido exclusivo para compartir en redes sociales y mejorar su presencia en tiendas en línea. También se considera identificar mercados y públicos objetivos, establecer metas realistas para alcanzar el éxito editorial deseado y monitorear su progreso continuamente.</p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <br>
                       
                     
                        
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

</div>


