<head>
   <title>Nosotros | Vicio Perpetuo Vicio Perfecto</title>
   <meta property="og:title" content="Vicio Perpetuo Vicio Perfecto | Editorial">
<meta property="og:title" content="Vicio Perpetuo Vicio Perfecto | Editorial">
<meta property="og:description" content="La editorial de libros más vendida en el Perú. Fundada el 15 de enero del 2011, nuestra editorial tiene como objetivo promover a autores peruanos y transmitir nuestra identidad nacional a través de la literatura. Nos enfocamos en temas como costumbres, historia, danzas, cultura culinaria, climas, idiomas, fauna y flora, y todo lo que representa ser peruano y el concepto de Perú.">
<meta property="og:image" content="https://vicioperpetuo.com/vicio.png">
<meta property="og:url" content="https://vicioperpetuo.com">
<meta property="og:type" content="website">

<meta name="twitter:title" content="Vicio Perpetuo Vicio Perfecto | Editorial">
<meta name="twitter:description" content="La editorial de libros más vendida en el Perú. Fundada el 15 de enero del 2011, nuestra editorial tiene como objetivo promover a autores peruanos y transmitir nuestra identidad nacional a través de la literatura. Nos enfocamos en temas como costumbres, historia, danzas, cultura culinaria, climas, idiomas, fauna y flora, y todo lo que representa ser peruano y el concepto de Perú.">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="https://vicioperpetuo.com">

   <script>$(document).ready((function(){$("#logo").hover((function(){$(this).addClass("hover")}),(function(){$(this).removeClass("hover")})),$(".menu-item").hover((function(){$(this).addClass("hover")}),(function(){$(this).removeClass("hover")}));const o=$("#burguer"),n=$("#menu"),e=$("#close");o.click((function(){n.fadeIn(500)})),e.on("click",(function(){n.hide()}))}));</script>
   <style>
      .blink {
         height:1em;
         animation: blink 1.5s infinite;
         animation-timing-function: step-start;
      }
      
      @keyframes blink {
         0% {
         opacity: 1;
         }
         25% {
         opacity: 0;
         }
         100% {
         opacity: 1;
         }
      }
      #contactus{
         height:auto;
         line-height:50px;
         width:auto;
         background:#111;
         border-radius:100px;
         padding:21px;
         margin:5vh 0vh;
         color:#fff;
         font-family:Roboto, sans-serif;
         text-align:center;
      }
   </style>

</head>

<%= link_to image_tag("logo.svg"), vicioperfecto_path, class:"no-mobile logo fade-up hover" %>  

<div id="info" class="fade-up">
   <div id="w-node-b47ebb11-7601-96b1-9921-3a734f5edaa5-3cd0e9e1" class="right-menu-container menu-item-hidden"><a href="#" class="menu-element-top-right">IT/EN</a>
   </div>
   <div class="about-title-container">
      <div class="w-dyn-list">
         <div role="list" class="w-dyn-items">
            <div role="listitem" class="w-dyn-item">
               <div class="exhibition-title"><span>La editorial de libros más vendida en el Perú <img src="assets/peru.svg" class="blink"></span>
               </div>
            </div>
         </div>
      </div>
   </div>
   <h2 style="padding:18px">
      <p><em>dirigida por</em> Julio Benavides Parra</p>
   </h2>
   <div class="exhibition-subtitle-container">
      <div class="w-dyn-list">
         <div role="list" class="w-dyn-items">
            <div role="listitem" class="w-dyn-item">
               <div class="rich-text-block-5 w-richtext">
                  <p>Fundada el 15 de enero del 2011, nuestra editorial tiene como objetivo promover a autores peruanos y transmitir nuestra identidad nacional a través de la literatura. Nos enfocamos en temas como costumbres, historia, danzas, cultura culinaria, climas, idiomas, fauna y flora, y todo lo que representa ser peruano y el concepto de Perú.</p>
                  <br>
                  <p>Nos apasiona dar a conocer las historias únicas y diversas de nuestros autores peruanos, desde la ficción hasta la no ficción, pasando por la poesía y la literatura infantil. Nos esforzamos por brindar una plataforma para que las voces de nuestros autores sean escuchadas a nivel nacional e internacional.</p>
                  <br> 
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="about-page-container">
      <div id="w-node-_44454927-af7f-40b7-981b-115f45d024d8-b59d5c84" class="right-column-img--credit">
         <div class="div-block-43-copy">
            <div class="about-text w-dyn-list">
               <div role="list" class="w-dyn-items">
                  <div role="listitem" class="w-dyn-item">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div id="w-node-_7315e5f7-3cc6-6ced-3258-ecc5898f876c-b59d5c84" >
         <div class="div-block-43-copy">
            <div class="credit-text w-dyn-list">
               <div role="list" class="w-dyn-items">
                  <div role="listitem" class="w-dyn-item">
                     <div class="w-richtext">
                        <p><img src="./events/15012023/01.JPG" alt="Julio Benavides Parra presentando libro 'Ácleman'" style="margin:0px;"></p>
                        
                        <span>▲ 12 aniversario de la Editorial celebrado en el Bar Mal de Amores, Barranco. 2023.</span>
                        <p><img src="./events/15012023/02.JPG" alt="Jóvenes autores en evento de Vicio Perpetuo Vicio Perfecto"></p>
                        <span>▲ Juan Romero (izq.) y Walter Velásquez (der.) exponiendo el contenido de sus libros.</span>
                        <p><img src="./events/15012023/03.JPG" alt="Héctor Ñaupari sosteniendo su publicación 'En la boca de la sombra'">
                        <span>▲ Héctor Ñaupari presentando su libro "La boca de la sombra".</span></p>
                        <p></p>
                        <a href="https://api.whatsapp.com/send?phone=+51929297202&text=Hola%2C+vengo+del+sitio+vicioperpetuo.com"><div id="contactus">Contáctanos por Whatsapp</div></a>
                        <p></p>
                        <p></p>
                        <br>
                       
                     
                        
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

</div>


