<title>Privacidad | Vicio Perpetuo Vicio Perfecto</title>
<meta content="Vicio Perpetuo Vicio Perfecto | Editorial" property="og:title">
<meta content="https://vicioperpetuo.com" property="og:url">
<meta content="https://vicioperpetuo.com/public/vicio.png" property="og:image">
<meta content="La editorial de libros más vendida en el Perú. Fundada el 15 de enero del 2011, nuestra editorial tiene como objetivo promover a autores peruanos y transmitir nuestra identidad nacional a través de la literatura. Nos enfocamos en temas como costumbres, historia, danzas, cultura culinaria, climas, idiomas, fauna y flora, y todo lo que representa ser peruano y el concepto de Perú." property="og:description">
<meta content="Vicio Perpetuo Vicio Perfecto | Editorial" property="twitter:title">
<meta content="https://vicioperpetuo.com" property="twitter:url">
<meta content="https://vicioperpetuo.com/public/vicio.png" property="twitter:image">
<meta content="La editorial de libros más vendida en el Perú. Fundada el 15 de enero del 2011, nuestra editorial tiene como objetivo promover a autores peruanos y transmitir nuestra identidad nacional a través de la literatura. Nos enfocamos en temas como costumbres, historia, danzas, cultura culinaria, climas, idiomas, fauna y flora, y todo lo que representa ser peruano y el concepto de Perú." property="twitter:content">
<script>$(document).ready((function(){$("#logo").hover((function(){$(this).addClass("hover")}),(function(){$(this).removeClass("hover")})),$(".menu-item").hover((function(){$(this).addClass("hover")}),(function(){$(this).removeClass("hover")}));const o=$("#burguer"),n=$("#menu"),e=$("#close");o.click((function(){n.fadeIn(500)})),e.on("click",(function(){n.hide()}))}));</script>
<div class="fade-up docbox">
<h1>Editorial Vicio Perpetuo Vicio Perfecto</h1>
<h2>Política de Privacidad</h2>


<p>
En Vicio Perpetuo Vicio Perfecto, entendemos la importancia de la privacidad de nuestros clientes y nos comprometemos a proteger sus datos personales. Esta Política de Privacidad explica cómo recopilamos, usamos, compartimos y protegemos su información personal en nuestro sitio web.
<p>
<h3>Recopilación y uso de información personal</h3>
<p>
Recopilamos información personal cuando usted realiza una compra en nuestro sitio web. Esta información puede incluir su nombre, dirección de correo electrónico, dirección de envío, número de teléfono y detalles de pago.
<p>
Usamos esta información para procesar su pedido, enviarle información sobre su pedido, y para mejorar nuestros productos y servicios. También podemos utilizar su información personal para enviarle promociones y ofertas especiales de nuestros productos o servicios, a menos que decida excluirse de estas comunicaciones.
<p>
<h3>Compartir información personal</h3>
<p>
No compartimos su información personal con terceros, excepto en los siguientes casos:
<p>
Cuando es necesario para procesar su pago o enviarle su pedido a través de servicios como Yape, Plin, y Bitcoin.
Cuando sea requerido por ley, para proteger nuestros derechos legales, o en relación con una venta o transferencia de nuestro negocio.
Protección de la información personal
Tomamos medidas razonables para proteger la información personal que recopilamos de pérdida, uso indebido y acceso no autorizado. Utilizamos técnicas de seguridad estándar de la industria para proteger su información, como el cifrado de datos en tránsito.
<p>
Sin embargo, no podemos garantizar la seguridad completa de la información que transmita a nuestro sitio web, ya que ninguna transmisión de datos a través de Internet puede garantizarse como 100% segura.
<p>
<h3>Privacidad de los menores</h3>
Nuestro sitio web no está dirigido a menores de 18 años y no recopilamos información personal de niños menores de 18 años.
<p>
<h3>Cambios a esta política de privacidad</h3>
Podemos actualizar esta Política de Privacidad en cualquier momento. Si realizamos cambios significativos, le notificaremos por correo electrónico o mediante una notificación destacada en nuestro sitio web.
<p>
<h3>Cómo contactarnos</h3>
Si tiene alguna pregunta o inquietud acerca de nuestra Política de Privacidad, o si desea actualizar o eliminar su información personal, contáctenos en nuestro correo electrónico: <a href="mailto:edicionesvicioperpetuo@gmail.com">edicionesvicioperpetuo@gmail.com</a>
<p>
Fecha de entrada en vigor: 10 de marzo de 2023.

</div>
</div>
</div>
</div>
</div>
</div>
</div>