<%= link_to image_tag("logo.svg"), vicioperfecto_path, class:"fade-up block logo"%>  

<nav class="fade-up">
    <a href="info">EDITORIAL</a>
    <a href="info#servicios">SERVICIOS</a>
    <a href="autores">AUTORES</a>
</nav>

<div class="fade-up docbox">
<h1>Editorial Vicio Perpetuo Vicio Perfecto</h1>
<h2>Términos y Condiciones Generales de Venta</h2>

<p>&nbsp;</p>
<ol start="1" role="list"> 
<li>Las ventas realizadas por el vendedor se realizan de conformidad con las presentes Condiciones Generales de Venta (CGV), que se consideran aceptadas por el comprador, de conformidad con el artículo 1341, inciso 1 del Código Civil Peruano. Las presentes condiciones se aplican, de pleno derecho, con excepción de aquellas para las que se haya escrito una revocación expresa en el Pedido/Contrato o en las especificaciones anexas a los mismos y, en todo caso, permanecerán vigentes hasta el cumplimiento de las obligaciones que se lleven a cabo. El vendedor se reserva el derecho de rechazar en cualquier momento la realización de cualquier Pedido/Contrato, en caso de que el comprador no suscriba específicamente estas CGC aceptando todos los términos y condiciones establecidos en las mismas. En caso de que una o varias de las cláusulas contenidas en las CGV o en los Pedidos/Contratos sean declaradas nulas y sin efecto conforme a la ley, la validez de las demás cláusulas no se verá afectada. El texto original de las presentes CGC podrá traducirse a otros idiomas a efectos informativos. Por lo tanto, la única versión válida y vinculante de las CGC para todas las partes es la versión Peruana.</li>
</ol>
<ol start="2" role="list"> 
<li>El Pedido/Contrato no se considera válido, y por tanto no se hacen valer las obligaciones y derechos de las partes, hasta que el representante legal o cualquier otra persona que actúe en nombre y por cuenta del vendedor haya enviado por escrito la confirmación del pedido, en cualquiera de sus formas. el pedido ha sido realizado. No obstante, el vendedor tiene derecho a considerar, a su arbitrio, un contrato válidamente estipulado y ejecutado, en cuanto a obligaciones y derechos, aun cuando falten los requisitos formales anteriores. Dentro de los diez días siguientes a la finalización del contrato, el vendedor podrá desistir del mismo sin más obligación que la de comunicar esta decisión al comprador y sin tener que reembolsar ni indemnizar daños y perjuicios. </li>
</ol>
<ol start="3" role="list"> 
<li>El vendedor habrá cumplido su obligación de entrega tan pronto como el consignatario se haga cargo de la mercancía para enviársela al comprador, independientemente de que se haya pactado que el transporte corre por cuenta del vendedor y cualquiera que sea el plazo de entrega del bienes. Todos los gastos de transporte y/o consignación corren a cargo del comprador, quien tiene la responsabilidad de indicar específicamente al vendedor el medio de transporte elegido. A falta de indicaciones específicas, el vendedor tiene pleno e incondicional derecho de elección.</li>
</ol>
<ol start="4" role="list"> 
<li>Todos los términos pactados para la entrega de los bienes vendidos deben considerarse no perentorios y, por lo tanto, no esenciales en ningún caso.</li>
</ol>
<ol start="5" role="list"> 
<li>Si por cualquier causa no se cumpliera el plazo de entrega inicial, aunque fuera a cargo del vendedor, este plazo de entrega inicial se prorrogará automáticamente por un período igual, siempre que el vendedor lo haya comunicado por escrito al comprador con una antelación mínima de diez días. del vencimiento del plazo de entrega inicialmente pactado.</li>
</ol>
<ol start="6" role="list"> 
<li>El comprador no podrá reclamar ningún derecho a devolución o indemnización de daños, reducción de precio, etc. contra el vendedor cuando éste haya ejercido la facultad de ampliar el plazo de entrega, conforme al punto anterior, ni el comprador podrá rescindir el contrato. o retirarse de ella.</li>
</ol>
<ol start="7" role="list"> 
<li>Si la entrega no se realiza dentro del plazo de entrega inicial o ampliado, el contrato queda automáticamente rescindido, sin que el comprador tenga derecho a reclamar nada ni reclamar la devolución de daños, indemnizaciones u otros, salvo prueba de dolo por parte del vendedor. . . . . </li>
</ol>
<ol start="8" role="list"> 
<li>Cualquier falta de calidad o defectos en los bienes vendidos deben ser comunicados al vendedor por escrito dentro de los ocho (8) días siguientes a la entrega de los bienes, incluso en los casos de defectos o leyes latentes. Ningún informe de este tipo será aceptado sin el documento formal antes mencionado.</li>
</ol>
<ol start="9" role="list"> 
<li>Este informe no tendrá efecto si el comprador no ha hecho todos los pagos debidos, estando las partes dispuestas a considerar la presente disposición de la misma manera que la cláusula 'solve et repete' (primero pagar y luego reclamar el reembolso) y excluir cualquier posibilidad legal o convencional de ser compensado por cualquier deuda o crédito mutuo. </li>
</ol>
<ol start="10" role="list"> 
<li>Si en el momento de la denuncia no es exigible la obligación de pago o el pago se ha hecho legítimamente sólo en parte, o si el comprador ha podido gozar de igual plazo, los efectos de la denuncia, no excluidos, serán suspendido hasta el momento en que se haya completado el pago de las sumas adeudadas.</li>
</ol>
<ol start="11" role="list"> 
<li>En todo caso, la garantía de los bienes vendidos dejará de ser válida cualesquiera que sean los vicios, defectos o falta de calidad denunciados, siempre que los bienes hayan sido ensamblados con otros productos o sometidos a cualquier tipo de transformación y siempre que, aun sin modificación, hayan sido transferido o entregado a un tercero. </li>
</ol>
<ol start="12" role="list"> 
<li>No se aceptarán mercancías devueltas en paquetes abiertos ni usadas, ni siquiera parcialmente. En el caso de devoluciones, cualesquiera que sean los vicios, defectos o falta de calidad denunciados, el vendedor se reserva el derecho de retener el 20% del importe pagado por el comprador para cubrir los gastos de manipulación y almacenaje. </li>
</ol>
<ol start="13" role="list"> 
<li>Hecho el informe y comprobada su eventual veracidad, el vendedor tiene derecho a sustituir la totalidad de los bienes vendidos por otros de la misma cantidad y calidad, o, a su elección, a restituir la suma correspondiente, si la hubiere pagado.</li>
</ol>
<ol start="14" role="list"> 
<li>Cualquier restitución por daños que sean hipotéticamente imputables al vendedor por vicios, defectos o falta de calidad de los bienes vendidos, no podrá ser superior al doble de la suma pactada por la venta de la cantidad de bienes afectados por los vicios o defectos.</li>
</ol>
<ol start="15" role="list"> 
<li>Las primeras entregas de mercancías se realizarán después de haber recibido el pago completo de todo el suministro según lo declarado en la Confirmación de Pedido transmitida al cliente. En el caso de envíos posteriores, el vendedor se reserva el derecho de acordar con el comprador cualquier prórroga en el pago que deberá, en todo caso, ser confirmada por escrito.</li>
</ol>
<ol start="16" role="list"> 
<li>Las mercancías pedidas y entregadas al comprador seguirán siendo propiedad del vendedor hasta el momento en que sean pagadas por el comprador de conformidad con las condiciones de venta especificadas en la confirmación del pedido intercambiada entre las partes.</li>
</ol>
<ol start="17" role="list"> 
<li>In the case of delayed payment of the purchase price, interest on arrears will be charged to the buyer, calculated at the official bank discount rate plus 5%, without prejudice to the application of further and different sanctions. </li>
</ol>
<ol start="18" role="list"> 
<li>En caso de no completar el comprador completo o parcial, el proveedor puede suspender aún más el contrato al que se hace referencia al no cumplimiento, pero también de otros contratos diferentes que se llevan a cabo para el comprador.</li>
</ol>
<ol start="19" role="list"> 
<li>Además de los casos previstos en el artículo 1186 del Código Civil Peruano, el vendedor puede considerar que las condiciones de pago acordadas ya no son válidas y solicitar el pago inmediato en todos los casos en los que se conozca el incumplimiento del comprador contra cualquier persona y por cualquier cantidad. aun cuando no se trate de un concurso real y aun cuando el incumplimiento se produjera antes de la estipulación del contrato y sólo fuera del conocimiento del vendedor con posterioridad.</li>
<br>
<li>En caso de que el vendedor deba cobrar al comprador una suma en base a las disposiciones contenidas en las presentes CGC o en los Pedidos/Contratos, el comprador autoriza expresamente al vendedor a emitir la factura correspondiente y a descontar la suma de cualquier crédito contra el vendedor o añadir esta suma a cualquier otra deuda con el vendedor. La compensación se realizará sobre la base de las normas contenidas en el artículo 1234 del Código Civil Peruano. </li>
</ol>

</div>
</div>
</div>
</div>
</div>
</div>
</div>